.container {
    display: block;
    width: 85%;
    margin: auto;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

label {
    font-size: 1.2em;
}

.textarea {
    height: 50em;
    width: 95%;
    font-size: 1.2em;
    /*overflow-x: scroll;*/
    /*overflow-y: scroll;*/
    overflow-y: scroll;
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    border: .2em solid gray;
    padding: .2em;
}

.textarea, button {
    margin: auto;
    display: block;
    /*border-radius: .2em;*/
    border-radius: .3em;
}

button {
    padding: .2em;
    background-color: white;
    color: black;
    font-size: 1.5em;
    width: 20em;
}


.unused-reference {
    color: rgb(150, 0, 0);
}

.unused-reference:hover {
    /*color: rgb(150, 150, 0);*/
}

.error-msg-on-hover:after {
  content: attr(error-msg);
  visibility: hidden;
  opacity: 0;
  color: red;

  position: relative;
  left: 1em;
  z-index: 1;
}

.error-msg-on-hover:hover:after {
  opacity: 1;
  visibility: visible;
}
