#button-section {
  margin-top: 2em;
}

.container {
  display: block;
  width: 85%;
  margin: auto;
  height: 80vh;
}

.row {
  display: flex;
  height: 100%;
}

.column {
  height: 100%;
  flex: 50%;
}

label {
  font-size: 1.2em;
}

.textarea {
  position: relative;
  height: 100%;
  width: 95%;
  font-size: 1.2em;
  /*overflow-x: scroll;*/
  /*overflow-y: scroll;*/
  overflow-y: scroll;
  -moz-appearance: textfield-multiline;
  -webkit-appearance: textarea;
  border: .2em solid gray;
  padding: .2em;
  white-space: pre-wrap;
  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13pt;
}

.textarea,
button {
  margin: auto;
  display: block;
  /*border-radius: .2em;*/
  border-radius: .3em;
}

button {
  padding: .2em;
  background-color: white;
  color: black;
  font-size: 1.5em;
  width: 20em;
}


/* reference list error */
.unused-reference {
  color: rgb(150, 0, 0);
}

.unused-reference:hover {
  /*color: rgb(150, 150, 0);*/
}

/* in-text citation error */
.in-text-parenthesis {
  color: blue;
  font-weight: bold;
}

.in-text-error {
  color: rgb(200, 0, 0);
}

/* hover error msg */
.error-msg-on-hover:after,
.in-text-error:after {
  content: attr(error-msg);
  display: none;
  padding: 0 .2em;
  margin: 0 .2em;

  border: 2px solid black;
  border-radius: 5px;

  background-color: white;

  position: absolute;
  z-index: 1;
}

.error-msg-on-hover:hover:after, 
.in-text-error:hover:after {
  display: block;
}

.in-text-error-date {
  color: #d2691e;
}

.in-text-maybe-error {
  color: magenta;
}

.in-text-ok {
  color: #009933;
}

p {
  margin: 0;
  padding: 0;
}